---
export interface Props {
  index: number;
}

const { index } = Astro.props;
---

<li
  data-active={index === 0}
  style={`--rotationY: ${index * 60}deg`}
  class="carouselItem"
>
  <slot />
</li>

<style>
  * {
    -webkit-transform-origin: 50% 51%;
    zoom: 1.005;
    will-change: transform;
  }

  .carouselItem {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    padding: 0.5em;
    gap: 1rem;

    position: absolute;

    max-width: 50vw;
    min-width: 100px;
    width: 400px;
    height: auto;

    text-align: center;
    border-radius: 5px;
    color: #fff;

    transform: rotateY(var(--rotationY)) translateZ(400px);
    transition: opacity 0.3s ease-out, background 1s ease-out;

    will-change: transform;
    transform-style: preserve-3d;
    -webkit-font-smoothing: antialiased;

    opacity: 0.4;
  }

  .carouselItem[data-active] {
    opacity: 1;
    background: linear-gradient(to left top, var(--terciary-color), blue);
  }

  @media screen and (max-width: 1000px) {
    .carouselItem {
      width: 50vw;
      transform: rotateY(var(--rotationY)) translateZ(50vw);
    }
  }
</style>
