---
import Icon from "src/components/shared/Icon.astro";
import { HARD_SKILLS } from "public/maps/skillsList.json";
import type { IconName } from "src/types";
---

<div class="hardSkillsCont">
  <nav class="navbar">
    {
      HARD_SKILLS.SECTIONS.map(({ title, sectionId }) => (
        <label tabindex="0" class="navbar__option" for={sectionId}>
          {title}
        </label>
      ))
    }
  </nav>

  <div class="skills">
    {
      HARD_SKILLS.ITEMS.map(({ items, sectionId }) => (
        <div class="skillsBox">
          <input checked type="radio" name="skills" id={sectionId} />
          {(items as IconName[]).map(tech => (
            <Icon name={tech} size={"medium"} />
          ))}
        </div>
      ))
    }
  </div>
</div>

<style>
  input[type="radio"] {
    display: none;
  }

  label:is(:focus, :hover) {
    transition: background-color 0.3s ease;
    background-color: #bbb;
  }

  .skillsBox {
    position: absolute;

    opacity: 0;
    transform: translateX(-100%) scale(0.6);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;

    justify-content: center;
    align-items: center;
    display: flex;
    gap: 1rem;

    background-color: #999;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .skillsBox:has(input:checked) {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    opacity: 1;

    transform: translateX(0);
  }

  .hardSkillsCont {
    display: flex;
    border-radius: 5px;

    background-color: var(--complement-color);
    padding: 0.3rem;
  }

  .skills {
    position: relative;

    width: 100%;

    overflow: hidden;

    border-radius: 0 5px 5px 0;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    width: 40%;
    padding: 1rem;

    border-right: 3px solid var(--complement-color);
    border-radius: 5px 0 0 5px;
    background-color: #999;
  }

  .navbar__option {
    width: 100%;
    color: #000;

    padding: 1rem;
    background-color: var(--complement-color);

    border-radius: 5px;
    cursor: pointer;

    transition: box-shadow 0.1s !important;
    box-shadow: 0 5px 0 var(--complement-color);
  }

  .navbar__option:active {
    box-shadow: 0 1px 0 var(--complement-color);
  }
</style>
