---
import Icon from "./Icon.astro";
import type { TProjectCard } from "./ProjectCard.astro";
import ProjectPicture from "./ProjectPicture.astro";

export interface Props {
  items: TProjectCard[];
}

const { items } = Astro.props;
---

<script>
  const $goToLeftBtn = document.getElementById("goToLeftBtn");
  const $goToRightBtn = document.getElementById("goToRightBtn");

  const $carousel = document.getElementById("carousel");

  function carouselScroll(dir: "left" | "right") {
    const carouselScroll = $carousel?.scrollLeft ?? 0;
    const carouselWidth = $carousel?.clientWidth ?? 0;

    const scroll =
      dir === "left"
        ? carouselScroll - carouselWidth
        : carouselScroll + carouselWidth;

    return $carousel?.scrollTo({
      left: scroll,
      behavior: "smooth"
    });
  }

  $goToRightBtn?.addEventListener("click", () => {
    carouselScroll("right");
  });

  $goToLeftBtn?.addEventListener("click", () => {
    carouselScroll("left");
  });
</script>

<div class="carouselContainer">
  <button class="carouselContainer__navBtn prevSlideBtn" id="goToLeftBtn">
    <img src="/svg/arrow.svg" alt="Go to previous slide" />
  </button>
  <button class="carouselContainer__navBtn nextSlideBtn" id="goToRightBtn">
    <img src="/svg/arrow.svg" alt="Go to next slide" />
  </button>

  <div class="carousel" id="carousel">
    {
      items.map(
        ({
          description,
          imgDescription,
          imgUrl,
          projectUrl,
          repoUrl,
          technologies,
          title
        }) => (
          <div class="slidewrapper">
            <div class="slide">
              <div class="pictureContainer">
                <ProjectPicture
                  {...{ imgDescription, imgUrl, projectUrl, repoUrl }}
                />
              </div>
              <h5 class="projectTitle">{title}</h5>
              <p class="projectPgph">{description}</p>

              <ul class="techsList">
                {technologies.map(icon => (
                  <li>
                    <Icon size={"small"} name={icon} />
                  </li>
                ))}
              </ul>
            </div>
          </div>
        )
      )
    }
  </div>
</div>

<style>
  .carouselContainer {
    position: relative;
  }

  .carousel {
    --carousel-width: 100%;

    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    width: var(--carousel-width);
    margin: 1em auto;
  }

  .carouselContainer__navBtn {
    padding: 1.5rem;
    position: absolute;
    top: 50%;
    z-index: 100;

    background-color: unset;

    border-radius: 50%;
    opacity: 0.8;
    transition: opacity 0.3s ease;

    align-self: center;
  }
  .carouselContainer__navBtn:hover {
    opacity: 1;
  }
  .prevSlideBtn {
    left: 0;
  }

  .nextSlideBtn {
    right: 0;
  }

  .carouselContainer__navBtn img {
    max-width: 60px;
    width: 3rem;
  }

  .prevSlideBtn img {
    left: 0;
    transform: rotate(180deg);
  }

  .carousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    width: var(--carousel-width);
  }

  .slidewrapper {
    scroll-snap-align: center;

    flex: 0 0 var(--carousel-width);
    width: var(--carousel-width);

    display: flex;
  }

  .slide {
    padding: 1rem;
    text-align: center;
    background-color: var(--primary-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .pictureContainer {
    margin: auto;
    overflow: hidden;
    margin-bottom: 1rem;
  }

  .projectTitle {
    font-weight: bold;
    margin: 1rem auto 0.5rem;
  }

  .techsList {
    display: flex;
    margin: 0.5rem auto;
    border-radius: 5px;
    gap: 1rem;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: #999;
    padding: 0.5rem;
  }

  .techsList li {
    line-height: 0;
  }

  .projectPgph {
    width: 80%;
    margin: 0.8rem auto;
  }
</style>
