---
import Icon from "./Icon.astro";
import type { TProjectCard } from "./ProjectCard.astro";
import ProjectPicture from "./ProjectPicture.astro";

export interface Props {
  items: TProjectCard[];
}

const { items } = Astro.props;
---

<script>
  const $goToLeftBtn = document.getElementById("goToLeftBtn");
  const $goToRightBtn = document.getElementById("goToRightBtn");

  const $carousel = document.getElementById("carousel");

  function carouselScroll(dir: "left" | "right") {
    const carouselScroll = $carousel?.scrollLeft ?? 0;
    const carouselWidth = $carousel?.clientWidth ?? 0;

    const scroll =
      dir === "left"
        ? carouselScroll - carouselWidth
        : carouselScroll + carouselWidth;

    return $carousel?.scrollTo({
      left: scroll,
      behavior: "smooth"
    });
  }

  $goToRightBtn?.addEventListener("click", () => {
    carouselScroll("right");
  });

  $goToLeftBtn?.addEventListener("click", () => {
    carouselScroll("left");
  });
</script>

<div class="carouselContainer">
  <div class="carousel" id="carousel">
    {
      items.map(
        ({
          description,
          imgDescription,
          imgUrl,
          projectUrl,
          repoUrl,
          technologies,
          title
        }) => (
          <div class="slidewrapper">
            <div class="slide">
              <div class="slide__pictureContainer">
                <ProjectPicture
                  {...{ imgDescription, imgUrl, projectUrl, repoUrl }}
                />
              </div>
              <div class="slide__info">
                <h5 class="slide__info__projectTitle">{title}</h5>
                <p class="slide__info__projectPgph">{description}</p>

                <ul class="slide__info__techsList">
                  {technologies.map(icon => (
                    <li>
                      <Icon size={"small"} name={icon} />
                    </li>
                  ))}
                </ul>
              </div>
            </div>
          </div>
        )
      )
    }
  </div>
  <nav class="carouselContainer__navBar">
    <button
      class="carouselContainer__navBar__btn prevSlideBtn"
      id="goToLeftBtn"
    >
      <img
        width="30"
        height="30"
        src="/svg/arrow.svg"
        alt="Go to previous slide"
      />
    </button>
    <button
      class="carouselContainer__navBar__btn nextSlideBtn"
      id="goToRightBtn"
    >
      <img width="30" height="30" src="/svg/arrow.svg" alt="Go to next slide" />
    </button>
  </nav>
</div>

<style>
  .carouselContainer {
    position: relative;
  }

  .carousel {
    --carousel-width: 100%;

    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    width: var(--carousel-width);
    margin: 1em auto;
  }

  .carouselContainer__navBar {
    display: flex;
    justify-content: center;
    gap: 0.8rem;
  }

  .carouselContainer__navBar__btn {
    background-color: unset;

    padding: 0.2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    opacity: 0.8;
    transition: opacity 0.3s ease;
  }

  .carouselContainer__navBar__btn:hover {
    opacity: 1;
  }
  .prevSlideBtn {
    left: 0;
  }

  .nextSlideBtn {
    right: 0;
  }

  .carouselContainer__navBar__btn img {
    max-width: 40px;
    width: 3rem;
  }

  .prevSlideBtn img {
    left: 0;
    transform: rotate(180deg);
  }

  .carousel {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    width: var(--carousel-width);
  }

  .slidewrapper {
    scroll-snap-align: center;

    flex: 0 0 var(--carousel-width);
    width: var(--carousel-width);

    display: flex;
  }

  .slide {
    padding: 1rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .slide__info {
    display: flex;
    background-color: var(--secondary-color);
    padding: 1.5rem;
    border-radius: 4px;

    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
  }

  .slide__pictureContainer {
    margin: auto;
    overflow: hidden;
  }

  .slide__info__projectTitle {
    font-weight: bold;
    margin: 0 auto;
  }

  .slide__info__techsList {
    display: flex;
    border-radius: 5px;
    gap: 1rem;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: #666;
    padding: 0.5rem;
    align-self: end;
  }

  .slide__info__techsList li {
    line-height: 0;
  }

  @media screen and (max-width: 768px) {
    .slide {
      grid-template-columns: 1fr;
      text-align: center;
    }

    .slide__info__projectPgph {
      width: 80%;
      margin: 0.8rem auto;
    }

    .slide__info__techsList {
      align-self: center;
    }
  }
</style>
