---
export interface Props {
  imgUrl: string;
  imgDescription: string;
  projectUrl: string;
  repoUrl: string;
}

const { imgDescription, imgUrl, projectUrl, repoUrl } = Astro.props;
---

<picture class="imgContainer">
  <div class="imgContainer__icons">
    <a class="imgContainer__icons__link" href={repoUrl} target="_blank">
      <img
        width="25"
        height="25"
        class="imgContainer__icons__link__icon"
        src="/svg/code.svg"
        alt="view source code"
      />
    </a>
    <a class="imgContainer__icons__link" href={projectUrl} target="_blank">
      <img
        width="25"
        height="25"
        class="imgContainer__icons__link__icon"
        src="/svg/newtab.svg"
        alt="visit project website"
      /></a
    >
  </div>

  <img
    width="400"
    height="400"
    class="imgContainer__img"
    src={imgUrl}
    alt={imgDescription}
  />
</picture>

<style>
  .imgContainer {
    width: 70%;

    position: relative;
    overflow: hidden;
  }

  .imgContainer:hover .imgContainer__icons {
    opacity: 1;
  }

  .imgContainer__img {
    display: block;

    border: 3px solid var(--terciary-color);
    border-radius: 5px;
    max-width: 300px;
    width: 100%;
  }

  .imgContainer__icons {
    position: absolute;
    top: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;

    transition: opacity 0.3s ease-out;

    background-color: #0007;
    opacity: 0;
  }

  .imgContainer__icons__link__icon {
    width: 100%;
    display: block;
  }
  .imgContainer__icons__link {
    width: 15%;
    aspect-ratio: 1/1;
    padding: 2%;

    border-radius: 50%;
    transition: background-color 0.3s ease;
  }
  .imgContainer__icons__link:hover {
    background-color: var(--terciary-color);
  }
</style>
