---
export type Props = {
  title: string;
  id: string;
};

const { title, id } = Astro.props;
---

<section class="pageSection" id={id}>
  <h3 class="sectionTitle">{title}</h3>

  <slot />
</section>

<style>
  .pageSection {
    margin: 20vh auto;
    padding: 1rem;
    transform: translateY(3rem);
    opacity: 0;
  }

  .pageSection.visible {
    animation: fadeIn 0.5s ease-in-out both;
  }

  @keyframes fadeIn {
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .sectionTitle {
    padding-top: 7rem;
    color: var(--complement-color);
    font-size: 3rem;
  }

  .sectionTitle::before {
    counter-increment: sectionTitle;

    content: counter(sectionTitle) ". ";
  }
</style>
