---
export type Props = {
  title: string;
  id: string;
};

const { title, id } = Astro.props;
---

<section class="pageSection" id={id}>
  <a href={`#${id}`}><h3 class="sectionTitle">{title}</h3></a>

  <slot />
</section>

<style>
  a:hover {
    color: var(--complement-color);
  }

  .pageSection {
    margin: 7rem auto;
    padding: 1rem;
    transform: translateY(3rem);
  }

  .sectionTitle {
    padding-top: 7rem;
    color: var(--complement-color);
    font-size: 3rem;
    margin: 3rem auto;
  }

  .sectionTitle::before {
    counter-increment: sectionTitle;

    content: counter(sectionTitle) ". ";
  }
</style>
