---
export type Props = {
  title: string;
  subtitle?: string;
  id: string;
};

const { title, id, subtitle } = Astro.props;
---

<section class="pageSection" id={id}>
  <h3 class="sectionTitle">{title}</h3>
  {subtitle && <h4>{subtitle}</h4>}

  <slot />
</section>

<style>
  section {
    margin: 20vh auto;
    padding: 1rem;
  }

  .sectionTitle {
    padding-top: 7rem;
    color: var(--complement-color);
    font-size: 2rem;
  }

  .sectionTitle::before {
    counter-increment: sectionTitle;

    content: counter(sectionTitle) ". ";
  }
</style>
