---
import { SOFT_SKILLS_LIST } from "public/maps/skillsList.json";
---

<div class="softSkillsCont">
  <h4>Soft Skills</h4>

  {
    SOFT_SKILLS_LIST.map(({ content, title }) => (
      <article class="softSkillsItem">
        <h5 class="softSkillsItem__title">{title}</h5>
        <p>{content}</p>
      </article>
    ))
  }
</div>

<style>
  .softSkillsCont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }

  .softSkillsItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;

    border-radius: 5px;
    padding: 1rem;

    text-align: left;
    background-color: var(--primary-color);
  }

  .softSkillsItem__title {
    font-weight: bold;
    width: fit-content;
    padding: 1rem;
  }

  .softSkillsItem:nth-of-type(even) {
    text-align: right;
    flex-direction: row-reverse;
  }

  .softSkillsItem:nth-of-type(odd) .softSkillsItem__title {
    text-align: right;
    border-right: 1px solid #fff;
  }

  .softSkillsItem:nth-of-type(even) .softSkillsItem__title {
    text-align: left;
    border-left: 1px solid #fff;
  }

  @media screen and (max-width: 552px) {
    .softSkillsItem {
      width: 100%;
      flex-direction: column;
    }

    .softSkillsItem:nth-of-type(even) {
      flex-direction: column;
    }

    .softSkillsItem:nth-of-type(even) * {
      text-align: left;
    }
  }
</style>
