---
import { SOFT_SKILLS_LIST } from "src/assets/maps/skillsList.json";
---

<h4>Soft Skills</h4>

<div class="skills-container">
  {
    SOFT_SKILLS_LIST.map(({ content, title }) => (
      <div class="skill">
        <h3 class="skill__title">{title}</h3>
        <p class="skill__description">{content}</p>
      </div>
    ))
  }
</div>

<style>
  .skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    gap: 2rem;
  }

  .skill {
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: #cbb2ff;
  }

  .skill__title {
    margin-top: 0;
    font-size: 24px;
    font-weight: 700;
    color: #333;
  }

  .skill__description {
    color: #000;
  }
</style>
