@font-face {
  font-family: "Epilogue";
  src: url("/fonts/Epilogue-VariableFont_wght.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
::after,
::before {
  box-sizing: border-box;
}

:where(*, ::after, ::before)::selection {
  background-color: var(--terciary-color);
  color: var(--complement-color);
}

:root {
  --primary-color: #171717;
  --secondary-color: #282828;
  --terciary-color: #da0037;
  --complement-color: #ededed;

  --text-color: #f6f6f6;

  font-size: 10px;
  background-color: var(--primary-color);

  counter-reset: sectionTitle;

  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 0.5rem;

  position: relative;

  font-family: Epilogue, Verdana, sans-serif;

  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;

  background-color: var(--secondary-color);
  color: var(--text-color);
}

main {
  padding: 0 1rem;

  max-width: 900px;
  margin: 0 auto;
  overflow: hidden;
}

section {
  margin: 20vh auto;
  padding: 1rem;
}

h3 {
  padding-top: 7rem;
  font-size: 2rem;
}

h4 {
  font-weight: 500;
  font-size: 1.7rem;
}

h3::before {
  counter-increment: sectionTitle;

  content: counter(sectionTitle) ". ";
}

h5 {
  font-weight: 500;
  font-size: 1.4rem;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  transition: color 0.4s;

  color: #ccc;

  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

p {
  font-size: 1.2rem;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 552px) {
  :root {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 20px;
  }
}
