*,
::after,
::before {
  box-sizing: border-box;
}

:where(*, ::after, ::before)::selection {
  background-color: var(--terciary-color);
}

/* scrollbar */
*::-webkit-scrollbar,
*::-webkit-scrollbar:horizontal {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--complement-color);
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #222;
}

* {
  scrollbar-width: auto;
  scrollbar-color: var(--complement-color) transparent;
}

:root {
  --primary-color: #090c0d;
  --secondary-color: #222;
  --terciary-color: #da0037;
  --complement-color: #8355e5;
  --anchor-color: #ffdeb9;

  --text-color: #eee;

  font-size: 10px;
  background-color: var(--primary-color);

  counter-reset: sectionTitle;

  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 0.5rem;

  position: relative;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;

  background-color: var(--primary-color);
  color: var(--text-color);
}

main {
  padding: 0 1rem;

  max-width: 900px;
  margin: 0 auto;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.7rem;
}

h5 {
  font-weight: 500;
  font-size: 1.4rem;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--anchor-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

b {
  font-weight: 600;
}

p {
  font-size: 1.2rem;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0.8rem 1.8rem;

  font-size: 1rem;

  filter: brightness(85%);
  background-color: var(--terciary-color);
  color: #fff;

  border: none;
  border-radius: 5px;
  cursor: pointer;

  transition: filter 0.2s ease;
}

button:hover {
  filter: brightness(100%);
}

@media screen and (min-width: 552px) {
  :root {
    font-size: 16px;
  }
}
