@font-face {
  font-family: "Epilogue";
  src: url("/fonts/Epilogue-VariableFont_wght.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #171717;
  --secondary-color: #444;
  --terciary-color: #da0037;
  --complement-color: #ededed;

  --text-color: #f6f6f6;
}

body {
  margin: 0;
  padding: 0 0.5rem;

  text-align: left;
  font-family: Epilogue, Verdana, sans-serif;

  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;

  background-color: var(--primary-color);
  color: #fff;
}

main {
  background-color: #444;
}

img {
  max-width: 100%;
  height: auto;
}
