---
import Section from "src/components/shared/Section.astro";
---

<Section title="About me" id="about">
  <p>
    I am a passionate Frontend Developer who loves creating <b>rich</b>, <b
      >satisfying user experiences</b
    >.
  </p>
  <p>
    I put particular <b>focus on the details</b> that make the user experience incredible.
    Things like <b>performance</b>, <b>accessibility</b>, and <b
      >responsive design</b
    >
    are <b>my strong point</b>.
  </p>

  <p>
    Currently, I'm working at <a href="https://squidrouter.com">Squid</a>, where
    we are building the future of one-click, cross-chain experiences.
  </p>

  <p>
    Fun fact: I like <a href="https://gallery.gena.dev">taking photos</a>.
  </p>
</Section>
