---
import Section from "src/components/shared/Section.astro";
---

<Section title="About me" id="about">
  <p>
    I am a passionate Frontend Developer who loves creating <b>rich</b>, <b
      >satisfying user experiences</b
    >.
  </p>
  <p>
    I put particular <b>focus on the details</b> that make the user experience incredible.
    Things like <b>performance</b>, <b>accessibility</b>, and <b
      >responsive design</b
    >
    are <b>my strong point</b>.
  </p>

  <p>
    Currently, I work part-time at <a href="https://gocode.ar">GoCode</a>, where
    we are developing web sites for NGOs and foundations that help other people
    and don't have web presence.
  </p>
</Section>
