---
import Section from "src/components/shared/Section.astro";
import GitHubLogo from "../animated-icons/GitHubLogo.astro";
import LinkedinLogo from "../animated-icons/LinkedinLogo.astro";
---

<Section title="Contact Me" id="contact">
  <article>
    <p class="ctaParagraph">Let's build something amazing!</p>
    <ul class="contactNavbar">
      <li class="contactNavbar__contactItem">
        <a
          title="Visit my work at GitHub"
          href="https://linkedin.com/in/genaro-bonavita"
        >
          <GitHubLogo />
          My work
        </a>
      </li>

      <li class="contactNavbar__contactItem">
        <a
          title="Connect with me at LinkedIn"
          href="https://github.com/GenaroIBC"
        >
          <LinkedinLogo />
          Connect
        </a>
      </li>
    </ul>
  </article>
</Section>

<style>
  article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    background-color: var(--secondary-color);
    border-radius: 10px;

    padding: 2rem 1rem;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;
  }

  .ctaParagraph {
    font-size: 1.5rem;
    font-weight: bold;

    margin: 0;
  }

  .contactNavbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    margin: 0 auto;
  }

  .contactNavbar__contactItem {
    width: 5rem;
    width: 5rem;

    aspect-ratio: 1/1;
    line-height: 1;
    text-align: center;

    transition: filter 0.15s ease;
    filter: brightness(0.8);
  }

  .contactNavbar__contactItem a {
    text-decoration: none;
    font-size: 1rem;
    line-height: 2;
  }

  .contactNavbar__contactItem:hover {
    filter: brightness(100%);
  }
</style>
