---
import contactMap from "src/assets/maps/contactMap.json";
import Section from "src/components/shared/Section.astro";
---

<Section
  subtitle="Let's build something amazing!"
  title="Contact Me"
  id="contact"
>
  <article>
    <p>You can contact me at:</p>
    <ul>
      {
        contactMap.map(({ href, imageSrc, title }) => (
          <li>
            <a href={href} target="_blank">
              <img width="50" height="50" src={imageSrc} alt={title} />
            </a>
          </li>
        ))
      }
    </ul>
  </article>
</Section>

<style>
  article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;

    background-color: var(--complement-color);
    color: #000;
    border-radius: 5px;

    padding: 1rem;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;
  }

  p {
    margin: 0px;
  }

  a {
    max-width: 25px;
    display: flex;

    align-items: center;

    border-radius: 50%;
  }

  img {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    article {
      flex-direction: row;
    }

    a {
      max-width: 50px;
    }
  }
</style>
