---
import Section from "src/components/shared/Section.astro";
import GitHubLogo from "../animated-icons/GitHubLogo.astro";
import LinkedinLogo from "../animated-icons/LinkedinLogo.astro";
---

<Section title="Contact Me" id="contact">
  <article>
    <p class="ctaParagraph">Let's build something amazing!</p>
    <ul class="contactNavbar">
      <li class="contactNavbar__contactItem">
        <a
          title="Visit my work at GitHub"
          href="https://linkedin.com/in/genaro-bonavita"
        >
          <GitHubLogo />
          My work
        </a>
      </li>

      <li class="contactNavbar__contactItem">
        <a
          title="Connect with me at LinkedIn"
          href="https://github.com/GenaroIBC"
        >
          <LinkedinLogo />
          Connect
        </a>
      </li>

      <li class="contactNavbar__contactItem">
        <a
          title="Connect with me at LinkedIn"
          href="https://mail.google.com/mail/u/0/?tf=cm&source=mailto&su=Hi+Genaro,+it+would+be+nice+to+work+together&to=bonavitaismael@gmail.com"
        >
          <svg
            fill="#fff"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
          >
            <path
              d="M255.4 48.2c.2-.1 .4-.2 .6-.2s.4 .1 .6 .2L460.6 194c2.1 1.5 3.4 3.9 3.4 6.5v13.6L291.5 355.7c-20.7 17-50.4 17-71.1 0L48 214.1V200.5c0-2.6 1.2-5 3.4-6.5L255.4 48.2zM48 276.2L190 392.8c38.4 31.5 93.7 31.5 132 0L464 276.2V456c0 4.4-3.6 8-8 8H56c-4.4 0-8-3.6-8-8V276.2zM256 0c-10.2 0-20.2 3.2-28.5 9.1L23.5 154.9C8.7 165.4 0 182.4 0 200.5V456c0 30.9 25.1 56 56 56H456c30.9 0 56-25.1 56-56V200.5c0-18.1-8.7-35.1-23.4-45.6L284.5 9.1C276.2 3.2 266.2 0 256 0z"
            ></path></svg
          > E&#8209mail&nbsp;me
        </a>
      </li>
    </ul>
  </article>
</Section>

<style>
  article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    background-color: var(--secondary-color);
    border-radius: 10px;

    padding: 2rem 1rem;
    margin-bottom: 6rem;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1rem;
  }

  .ctaParagraph {
    font-size: 1.5rem;
    font-weight: bold;

    margin: 0;
  }

  .contactNavbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    margin: 0 auto;
  }

  .contactNavbar__contactItem {
    width: 5rem;
    width: 5rem;

    aspect-ratio: 1/1;
    line-height: 1;
    text-align: center;

    transition: filter 0.15s ease;
    filter: brightness(0.8);
  }

  .contactNavbar__contactItem a {
    text-decoration: none;
    font-size: 1rem;
    line-height: 2;
  }

  .contactNavbar__contactItem:hover {
    filter: brightness(100%);
  }
</style>
