---
import ExperienceItem from "src/components/ExperienceItem.astro";
import experience from "src/assets/maps/experience.json";
import Section from "src/components/shared/Section.astro";
import HackathonWinner from "../HackathonWinner.astro";
---

<Section title="Experience" id="experience">
  <div class="experience_wrapper">
    {experience.map(item => <ExperienceItem {...item} />)}
  </div>

  <HackathonWinner />
</Section>

<style>
  .experience_wrapper {
    margin-bottom: 5rem;
  }
</style>
