---
import ExperienceItem from "src/components/ExperienceItem.astro";
import experience from "src/assets/maps/experience.json";
import Section from "src/components/shared/Section.astro";
---

<Section title="Experience" id="experience">
  {experience.map(item => <ExperienceItem {...item} />)}
</Section>
