---
import projectsMap from "src/assets/maps/projectsMap.json";
import type { TProjectCard } from "src/components/shared/ProjectCard.astro";
import ProjectsCarousel from "src/components/shared/ProjectsCarousel.astro";
import Section from "src/components/shared/Section.astro";
---

<Section id="projects" title="My projects">
  <ProjectsCarousel items={projectsMap as TProjectCard[]} />
</Section>
