---
import HardSkillsBox from "src/components/shared/HardSkillsBox.astro";
import Section from "src/components/shared/Section.astro";
import SoftSkillsBox from "src/components/shared/SoftSkillsBox.astro";
---

<Section id="skills" title="My Skills">
  <HardSkillsBox />

  <SoftSkillsBox />
</Section>
