---
import Section from "./shared/Section.astro";
---

<Section title="About me" id="about">
  <p>
    I am a passionate Frontend Developer who loves creating rich and satisfying
    user experiences.
  </p>
  <p>
    I put special focus on the details that make the user experience incredible.
    Things like performance, accessibility and responsive design are my strong
    point.
  </p>

  <p>
    Currently, I work part-time at <a href="https://gocode.ar">GoCode</a>, where
    we are developing web sites for NGOs and foundations that help other people
    and don't have web presence.
  </p>
</Section>
