---
---

<section>
  <h3>About me</h3>

  <p>
    I am a passionate Frontend Developer, mainly focused on the React ecosystem.
  </p>

  <p>
    Currently, I work part-time at GoCode, where we are developing web sites for
    NGOs and foundations that help other people and don't have web presence.
  </p>
</section>

<style></style>
