---
import ExperienceItem from "./ExperienceItem.astro";
import experience from "src/assets/maps/experience.json";
import Section from "./shared/Section.astro";
---

<Section title="Experience" id="experience">
  {experience.map(item => <ExperienceItem {...item} />)}
</Section>
