---
import ExperienceItem from "./ExperienceItem.astro";

import experience from "src/assets/maps/experience.json";
---

<section>
  <h3 id="experience">Experience</h3>

  {experience.map(item => <ExperienceItem {...item} />)}
</section>
