<article class="hackathonWinnerArticle">
  <h4>CloudCreate hackathon 2nd place winner 🥈</h4>
  <div class="articleContentWrapper">
    <div class="videoWrapper">
      <video
        width="500"
        class="hackathonProjectVideo"
        src="/video/clippitt-preview.mp4"
        autoplay
        loop
        muted
      >
      </video>
    </div>

    <p>
      The <b>CloudCreate hackathon</b>, presented by
      <a href="https://midu.dev">Miguel Ángel Durán</a>, was a competition where
      participants had to build a product from scratch using
      <a href="https://cloudinary.com/">Cloudinary</a>
      services.
    </p>
    <p>
      <b>Clippitt</b> is a tool that helps you to <b
        >share Twitch clips in other platforms</b
      >
      whose video format is vertical, like Instagram, TikTok, and YouTube Shorts.
      It was awarded
      <b>second best project</b> in the competition and
      <a
        href="https://cloudinary.com/blog/adoptable-kittens-tiktok-videos-from-twitch-clips-and-a-discord-bot-the-cloudcreate-hackathon-results-are-in#2nd_place_clippitt"
      >
        posted on Cloudinary's blog</a
      >.
    </p>

    <p>
      You can try it at <a href="http://clippitt.app/">clippitt.app</a> or
      <a href="https://github.com/genaroibc/clippitt">
        visit the repo on GitHub</a
      >.
    </p>

    <p>
      Also, <a
        href="https://cloudinary.com/blog/community-spotlight-genaro-bonavita"
        >check out the article about Clippitt</a
      > in Cloudinary Community Spotlight.
    </p>
  </div>
</article>

<style>
  .hackathonWinnerArticle {
    margin: 2rem 0 7rem;
  }

  .articleContentWrapper {
    padding: 1rem;

    border-radius: 1rem;
  }

  .videoWrapper {
    background-image: url(/img/bg.webp);
    background-size: 100% 100%;
    border-radius: 0.5rem;
    padding: 3rem;
  }

  .hackathonProjectVideo {
    display: block;
    width: 80%;
    margin: 0 auto;
    border-radius: 0.5rem;
  }
</style>
