---
import NeonTitle from "src/components/shared/NeonTitle.astro";
---

<section>
  <span class="intro">hi 👋, I am</span>
  <h1>
    <NeonTitle content="Genaro" delay={250} />
    <NeonTitle content="Bonavita" delay={250} />
  </h1>

  <h2>Frontend Developer</h2>

  <p class="paragraph">
    I create solutions and solve problems through clean and maintainable code.
  </p>

  <a download class="downloadCvBtn" href="/Genaro-Bonavita-CV.pdf">
    Download CV
  </a>
</section>

<style>
  .downloadCvBtn {
    display: block;
    max-width: fit-content;

    margin: 2rem auto;
    padding: 0.8rem 1.8rem;

    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;

    filter: brightness(85%);
    background-color: var(--terciary-color);
    color: #fff;

    transition: filter 0.2s ease;
  }

  .downloadCvBtn:hover {
    text-decoration: none;
    filter: brightness(100%);
  }

  section {
    margin: 0 auto !important;
    padding: 10rem 0 !important;
    text-align: center;
  }

  .paragraph {
    font-size: 1.3rem;
    margin: 1rem auto;
    max-width: 50ch;
  }

  h1 {
    font-size: 7rem;
    margin: 1rem 0;
  }

  h2 {
    font-size: 1.8rem;
    opacity: 0.7;
  }
  .intro {
    display: block;

    opacity: 0.8;
    font-size: 1.2rem;
  }

  @media screen and (max-width: 768px) {
    h1 {
      font-size: 5rem;
    }
  }
</style>
