---
import Carousel from "./shared/Carousel.astro";
import projectsMap from "public/maps/projectsMap.json";
---

<section>
  <h3>My projects</h3>
  <h4>Some projects I've worked in:</h4>

  <Carousel items={projectsMap} />
</section>
