---
import projectsMap from "public/maps/projectsMap.json";
import type { TProjectCard } from "./shared/ProjectCard.astro";
import ProjectsCarousel from "./shared/ProjectsCarousel.astro";
---

<section>
  <h3 id="projects">My projects</h3>
  <h4>Some projects I've worked in:</h4>

  <ProjectsCarousel items={projectsMap as TProjectCard[]} />
</section>
