---
import HardSkillsBox from "./shared/HardSkillsBox.astro";
import SoftSkillsBox from "./shared/SoftSkillsBox.astro";
---

<section>
  <h3 id="skills">My Skills</h3>
  <h4>Hard Skills</h4>

  <HardSkillsBox />

  <SoftSkillsBox />
</section>
