---
import HardSkillsBox from "./shared/HardSkillsBox.astro";
import Section from "./shared/Section.astro";
import SoftSkillsBox from "./shared/SoftSkillsBox.astro";
---

<Section id="skills" title="My Skills">
  <h4>Hard Skills</h4>

  <HardSkillsBox />

  <SoftSkillsBox />
</Section>
