---
import "src/styles/global.css";

import Head from "src/components/Head.astro";
import Footer from "src/components/Footer.astro";
import NavBar from "src/components/NavBar.astro";
---

<!DOCTYPE html>
<html lang="en">
  <Head
    description="Genaro Bonavita portfolio"
    image="/public/favicon.svg"
    title="Genaro Bonavita"
  />

  <body>
    <NavBar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
